aside.col-lg-2.col-md-3.col-sm-4.col-12
    .header
        img(src="/images/admin.png", alt="Admin")
        p добро пожаловать,Mirxomidov 
    hr
    #list-example.list-group
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='/') Главная
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='/faculty') Факультеты
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='/kafedra') Кафедры
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='#list-item-3') Группы
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='#list-item-4') Студенты
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='/managment/admins/add') Администрация
        a.list-group-item.list-group-item-action.text-center.bg-transparent(href='#list-item-4') <i class="fas fa-sign-out-alt"></i> Выход